body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 800px auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}

#gameWindow {
    width: 800px;
    height: 600px;
    background-color: rgb(0, 68, 178);
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    width: 180px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    top: 10px;
    left: 10px;
}

#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;
    background-color: rgb(0, 0, 0);
}

#heroAvatar {
    width: 64px;
    height: 64px;
    background-color: rgb(255, 166, 0);
    bottom: 0px;
    left: 0px;
}

#heroSpeach {
    width: 300px;
    background-color: rgb(255, 255, 255);
}

#counterSpeach {
    width: 300px;
    background-color: rgb(255, 255, 255);
}

#counterCharacter {
    width: 64px;
    height: 64px;
    background-color: rgb(255, 0, 0);
    bottom: 0px;
    right: 0px;
}

#squareTree {
    width: 64px;
    height: 64px;
    background-color: rgb(0, 129, 0);
    left: 400px;
    top: 150px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#key {
    width: 24px;
    height: 16px;
    background-color: rgb(213, 199, 0);
    left: 412px;
    top: 158px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#hero {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    transition: all 1s ease-in-out;
}

#tileMap {

}

.background{
    position: absolute;
    z-index: 0;
}

.character{
    position: absolute;
    z-index: 100;
    transition: all 1s ease-in-out;
}

.Foreground{
    position: absolute;
    z-index: 1000;
}