* {
    border: 1px []#000000;
}

body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 800px auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}

#gameWindow {
    width: 800px;
    height: 600px;
    background-color: rgb(0, 68, 178);
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    width: 100px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    top: 10px;
    left: 10px;
}

#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;
    background-color: rgb(255, 255, 255);
}

#heroAvatar {
    width: 32px;
    height: 64px;
    background-color: rgb(255, 166, 0);
}

#heroSpeach {
    width: 300px;
    background-color: rgb(255, 255, 255);
}

#counterSpeach {
    width: 300px;
    background-color: rgb(255, 255, 255);
}

#counterCharacter {
    width: 32px;
    height: 64px;
    background-color: rgb(255, 0, 0);
}

#squareTree {
    width: 64px;
    height: 64px;
    background-color: rgb(0, 129, 0);
}

#hero {
    width: 32px;
    height: 32px;
    background-color: pink;
}

#tileMap {

}

.background{
    position: absolute;
    z-index: 0;
}
.character{
    position: absolute;
    z-index: 100;
}
.Foreground{
    position: absolute;
    z-index: 1000;
}